*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$estilos: (
    color: rgb(0,0,0),
    color2: rgb(255, 255, 255),
    color3: #00C9C8,
    color4: #d9d9e0,
);
$fuente: 'Montserrat', sans-serif;


/*INDEX*/
h1{
    color: map-get($estilos, color2);
    background-color: map-get($estilos, color);
    font-size: 70px;
    font-family: $fuente;
    font-weight: 1200;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}
/*ICONOS REDES SOCIALES*/
.redesSociales{
    background-color: map-get($estilos, color);
    color: map-get($estilos, color2);
    font-size: 30px;
    text-align: center;

    i{
        padding-left: 20px;
        padding-right: 20px;
    } 

    i:hover{
        cursor: pointer;
    }
}


/*NAVBAR MOBILE INDEX*/
.navbarMobile{
    background-color: map-get($estilos, color);

    button{
        font-size: 15px;
    }
}


/*CARRUSEL INDEX*/
.carousel-item img{
    height: calc(100vh - 180px);
}

/*TITULOS PARA DESTACAR*/
h4{
    font-size: 16px;
    background-color: rgb(243, 6, 6);
    text-align: center;
    padding: 10px;
    color: map-get($estilos, color2);
    margin: 0;
    border-top: solid 2px map-get($estilos, color);
    border-bottom: solid 2px map-get($estilos, color);
    font-family: $fuente;
    font-weight: 1000;
}

/*FOOTER SITIO WEB UTILIZANDO FLEXBOX*/ 
.footer{
    border-bottom: solid 2px map-get($estilos, color2);
    h4{
        font-family: $fuente;
        background-color: map-get($estilos, color);
        color: #00C9C8;
        padding: 15px 0px 0px 20px;        
        font-size: 30px;
        font-weight: 200;
    span{
            font-size: 20px
        }
    }
}

footer{
    font-family: $fuente;
    text-align: center;
    background-color: map-get($estilos, color);
    color: map-get($estilos, color2);

    div{
        padding: 15px;
    }
    p{
        color: rgb(190, 183, 183);
        a{
            text-decoration: none;
            color: rgb(190, 183, 183);
        }
        a:hover{
            color: map-get($estilos, color2)
        }
    }
    .links{
        text-decoration: underline;
        color: #00C9C8;
        a{
            color: #00C9C8;
        }
    }
}

.footer__left{
    i{
        color: rgb(240, 116, 15);
        margin-left: 10px;
    }
}

.footer__center{
    border-top: solid 2px map-get($estilos, color2);
    border-bottom: solid 2px map-get($estilos, color2);
}
.footer__right{
    span{
        color: #00C9C8;
    }
}

.fa-envelope{
    color: rgb(228, 199, 33);
    margin-left: 10px;
}
.fa-whatsapp{
    border-radius: 15px;
    background-color: rgb(39, 223, 14);
    margin-left: 10px;
}
.footer--epigrafe{
    text-align: center;
    font-size: 12px;
    font-family: $fuente;
    background-color: map-get($estilos, color);
    color: map-get($estilos, color2);
    p{
        margin: 0;
    }
}

/*MEDIA QUERIS INDEX*/
@media screen and (max-width: 576px){
    .navDeskop{
        display: none;
    }
}
@media screen and (min-width: 576px){
    .navbarMobile{
        display: none;
    }
    /*NAVBAR DESKOP INDEX*/
    .navDeskop{
        display: block;
        background-color: map-get($estilos, color);
    }
    .navbarIndex{
        margin-bottom: -15px;

        ul{
            padding-right: 0px;
            list-style: none;
            text-align: right;
            font-family: $fuente;
        }
        ul li{
            display: inline-block;
            margin: -3px;
            border-right: solid 2px map-get($estilos, color2);
            padding: 10px;
        }

        ul li a{
            text-decoration: none;
            color: map-get($estilos, color2);
            font-size: 12px;
            display: block;
            padding: 0px;
            }
        
        ul li:hover{
                background-color: map-get($estilos, color2);
            }
        
            ul li a:hover{
                color: map-get($estilos, color);
            }
    }

    .redesSociales{
        position: absolute;
        top: 10px;
        right: 10px;
        i{
            padding: 10px;
        }
    }
    h1{
        text-align: left;
        padding-left: 20px;
    }
    .carousel-item img{
        height: calc(100vh - 120px);
        
    }
    .footer{
        h4{
            text-align: left;
        }
    }
    .footer__center{
        p{
            margin: auto;
            width: 300px;
        }
    }
}
@media screen and (min-width: 768px){
    h1{
        font-size: 80px;
    }
    .navbarIndex ul li a{
        font-size: 16px;
    }
    /*FOOTER PASA A SER DESKOP*/
    footer{
        display: flex;
        justify-content: space-around;
    }
    .footer__center{
        flex-grow: 1;
        border-bottom: none;
        border-top: none;
    }
    .footer__left{
        flex-grow: 1;
    }
    .footer__right{
        flex-grow: 1;
    }
}

@media screen and (min-width: 992px){
    h1{
        font-size: 110px;
    }
    .navDeskop{
        position: absolute;
        top: 110px;
        right: 10px;
    }
}
@media screen and (min-width: 992px){
    .navDeskop{
        position: absolute;
        top: 90px;
    }
    .navbarIndex ul li a{
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .redesSociales i:hover{
        transform: scale(1.3);
    }
}

/*CATALOGO**/
.bodyCatalogo{
    background-color: map-get($estilos, color)
}

/*ANIMACION TEXTO ENVIO*/
.envios{
    background-color: map-get($estilos, color3 );
    padding: 0px;
    text-align: center;
    font-family: $fuente;

    p{
        font-weight: 1000;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: map-get($estilos, color2);
        animation: idavuelta;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes idavuelta{
    50%{
        transform: translateX(40px);
    }
    100%{
        transform: translateX(-40px);
    }
}
.navPages{
    display: none;
}
h2{
    font-size: 50px;
    background-color: map-get($estilos, color);
    color: map-get($estilos, color2);
    text-align: center;
    padding: 10px;
    margin: 0;
}

/*REDES SOCIALES CATALOGO Y DEMAS PAGES*/

.redesSociales--catalogo{
    @extend .redesSociales;
}

.navCatalogo{
    background-color: map-get($estilos, color);
}

/*GRID CATALOGO IMAGENES*/
#grid__catalogo img{
    height: 250px;
    width: 100%;
}

.grid__catalogo--hijos{
    position: relative;

    img:hover{
        background: #F5A9A9;
        /*animation: 1s chicle 1;*/
    }
    div{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 5px 10px;
        background-color: map-get($estilos, color);
        color: map-get($estilos, color2);
        font-size: 20px;
    }
}

.flex__pago{
    background-color: #d9d9e0;
    .pago--subtittle{
        @extend .envios;
        font-size: 20px;
        padding: 10px;
        color: map-get($estilos, color2);
        font-weight: bold;
        margin-top: 0px;
    }
    p{
        color: map-get($estilos, color);
        text-align: center;
        font-size: 16px;
        padding: 5px;
    }
    img{
        width: 100vw;
    }
    form{
        font-family: $fuente;
        div{
            padding: 5px;
        }
        select{
            width: 230px;
            background-color: #d9d9e0;;
            color: map-get($estilos, color);
            border: solid 2px map-get($estilos, color);
        }
        input{
            @extend select;
        }
        .bottom__submit{
            border: map-get($estilos, color3);
            background-color: map-get($estilos, color3);
            color: map-get($estilos, color2);
            padding: 10px;
        }
        .bottom__submit:hover{
            background-color: #108383
        }
    }
}
.catalogo__subt{
    @extend .envios;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    font-size: 20px;
    margin: 0px;
}
#grid__envios{
    background-color: #d9d9e0;;
    text-align: center;
    color: map-get($estilos, color);
    .envios--icon{
        width: 70px;
        height: 70px;
        background-color: #00C9C8;
        border-radius: 50px;
        text-align: center;
        margin: auto;
        i{
            text-align: center;
            font-size: 40px;
            color: map-get($estilos, color2);
            position: relative;
            top: 15px;
        }
    }
    h4{
        background-color: #d9d9e0;
        color: map-get($estilos, color3);
        font-size: 20px;
        border: none;
    }
}
.envios--img{
    img{
        width: 50%;
        margin-bottom: 30px;
    }
}


/*@keyframes chicle{
    30%{
        -webkit-transform: 
            scaleX(1.25)
            scaleY(0.75);
    }
    50%{
        -webkit-transform: 
            scaleX(0.75)
            scaleY(1.25);
    }
    60%{
        -webkit-transform: 
            scaleX(1.15)
            scaleY(0.85);
    }
}*/


/*MEDIA QUEIRS CATALOGO*/
@media screen and (min-width: 480px){
    #grid__catalogo img{
        height: 300px;
        width: 100%;
    }
}
@media screen and (min-width: 576px){
    .navPages{
        display: block;
        background-color: map-get($estilos, color);
        
        ul{
            list-style: none;
            margin: 0px;
            padding: 5px;
            text-align: center;
            position: relative;
            font-family: 'Montserrat', sans-serif;
        }

        li{
            display: inline-block;
            border-right: 2px solid map-get($estilos, color2);
        }

        a{
            text-decoration: none;
            margin: 15px;
            color: map-get($estilos, color2);
            font-size: 16px;
        }
    }
    
    .navCatalogo{
        display: none;
    }
    h2{
        text-align: left;
        padding-left: 20px;
    }
    .redesSociales--catalogo{
        position: absolute;
        top: 60px;
        right: 10px;
        i{
            padding: 10px;
        }
    }
    #grid__catalogo img{
        height: calc(100vh - 100px);
        width: 100%;
    }
    .envios--img{
        img{
            width: 180px;
            margin-bottom: 30px;
        }
    }
}
@media screen and (min-width: 768px){
    .navPages ul{
        text-align: right;
    }
    h2{
        font-size: 70px;
    }
    .redesSociales--catalogo{
        top: 90px;
        i:hover{
            transform: scale(1.3);
        }
    }
    
    #grid__catalogo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        img{
            height: 300px;
            width: 100%;
        }
    }
    .flex__pago{
        display: flex;
        width: 100%;
        text-align: center;
        .flex__pago--izq{
            flex-basis: 100%;
            img{
                width: 100%;
                margin-left: 20px;
            }
            .pago--text{
                margin-left: 20px;
            }
        }
        .flex__pago--der{
            flex-basis: 100%;
        }
    }
    
}
@media screen and (min-width: 900px){
    #grid__envios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        padding: 10px;
    }
}
@media screen and (min-width: 992px){
    #grid__catalogo{
        margin: 20px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        img{
            height: 400px;
        }
    }
}
@media screen and (min-width: 1200px){
    .flex__pago{
        .flex__pago--der{
            flex-basis: 900px;
        }
        .flex__pago--izq{
            img{
                width: 500px;
            }
        }
    }
}


/*CLUB 6AM*/
.card{
    color: map-get($estilos, color2);
    border-radius: 0px;
    padding: 10px;
    a{
        display: block;
        margin: auto;
    }
}
.subtittle__beneficios{
    margin-bottom: 0px;
}
.clubInfo p{
    color: map-get($estilos, color2);
    text-align: center;
    line-height: 30px;
}
.redesSociales__pages{
    @extend .redesSociales;
    position: absolute;
    top: 90px;
    right: 20px;
}

h3{
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: map-get($estilos, color2);
    background-color: map-get($estilos, color3);
}
.portadaClub{
    width: 100vw;
    height: calc(100vh - 130px);
    background-image: url(../image/comunidad.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

$coloresboton: (
    1: rgb(36, 115, 219),
    2: rgb(26, 98, 107),
    3: rgb(28, 86, 141),
    4: rgb(45, 46, 122),
);
@each $colors, $colorboton in $coloresboton {
    .boton--#{$colors}{
        background-color: $colorboton;
        border: solid 4px $colorboton;
    }
}

.testimonios_contenedor{
    margin-bottom: 30px;
    video{
        width: 100%;
    }
}
/*MEDIA QUERIS CLUB*/
@media screen and (min-width: 480px){
    .clubInfo p{
    margin-left: 20px;
    margin-right: 20px;
    }
}

@media screen and (max-width: 600px){
    .redesSociales__pages{
        display: none;
    }
}
@media screen and (min-width: 900px){
    .clubInfo p{
        font-size: 30px;
        line-height: 50px;
    }
}


/*SOBRE NOSOTROS*/

h2{
    background-color: map-get($estilos, color );
    text-align: center;
    font-size: 60px;
    color: map-get($estilos, color2);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
.subtittle--left{
    margin-top: -20px;
}
.redesSociales__sN{
    @extend .redesSociales;
    position: absolute;
    top: 90px;
    right: 20px;
}

.sobreNosotros{
    height: 100vw;
    background-image: url(../image/futuro-min.jpg);
    background-color: rgb(75, 73, 73);
    background-blend-mode: soft-light ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    p{
        font-size: 16px;
        color: map-get($estilos, color2);
        text-align: center;
        line-height: 25px;
        padding: 10px;
        font-family: $fuente;
        span{
            display: none;
        }
    }
}
.historia{
    background-color: map-get($estilos, color4);
    img{
        width: 100%;
    }
    p{
        color: map-get($estilos, color);
        text-align: center;
        padding: 10px;
    }
    .historia__pasos{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.aliados__grid{
    margin-top: -10px;
    padding: 10px;
    background-color: map-get($estilos, color4);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    img{
        width: 100%;
    }
    p{
        display: none;
    }
}
.miembros__grid{
    background-color: map-get($estilos, color4 );
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -10px;
    padding-top: 20px;
    img{
        border-radius: 50%;
        border: solid 4px map-get($estilos, color3);
        width: 200px;
        height: 200px;
    }
    p{
        font-family: $fuente;
        padding: 10px;
        span{
            font-size: 22px;
            font-weight: bold;
        }
    }
}


/*MEDIA QUEIRIS SOBRE NOSOTROS*/
@media screen and (min-width: 400px){
    .sobreNosotros{
        p{
            span{
                display: block;
                font-family: 'Raleway', sans-serif;
                font-size: 30px;
                line-height: 35px;
            }
        }
    }
}
@media screen and (min-width: 480px){
    .sobreNosotros p{
        padding: 30px;
        font-size: 16px;
        line-height: 30px;
    }
}
@media screen and (min-width: 600px){
    .sobreNosotros{
        p{
            padding: 30px;
            font-size: 20px;
            line-height: 30px;
            span{
                font-size: 60px;
                line-height: 60px;
            }
        }
    } 
    .historia p{
        font-size: 20px;
    }
    .aliados__grid{
        grid-gap: 30px;
    }
    .miembros__grid{
        p{
            margin: auto;
            width: 350px;
        }
    }
}
@media screen and (min-width: 700px){
    .sobreNosotros{
        p{
            font-size: 30px;
            line-height: 40px;
        }
    }
    .aliados__grid{
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        img{
            width: 200px;
        }
        p{
            font-family: $fuente;
            font-size: 16px;
            display: block;
            padding: 10px;
        }
    }
}
@media screen and (min-width: 800px){
    .sobreNosotros{
        p{
            line-height: 50px;
            span{
                line-height: 70px;
            }
        }
    }
    .miembros__grid{
        grid-template-columns: repeat(2, 1fr);
        .hijo3{
            position: relative;
            left: 180px;
        }
    }
    
}
@media screen and (min-width: 900px){
    .miembros__grid{
        grid-template-columns: repeat(2, 1fr);
        .hijo3{
            position: relative;
            left: 200px;
        }
    }
}
@media screen and (max-width: 900px){
    .redesSociales__sN{
        display: none;
    }
}
@media screen and (min-width: 992px){
    .sobreNosotros{
        height: 100vh;
        p{
            font-size: 20px;
            line-height: 30px;
        }
    }
    .historia{
        p{
            font-size: 16px;
            margin-top: 20px;
        }
        img{
            margin-top: 20px;
        }
    }
    .miembros__grid{
        grid-template-columns: repeat(3, 1fr);
        p{
            width: 300px;
        }
        .hijo3{
            position: relative;
            left: 0px;
        }
        }
    .subtittle--left{
        text-align: left;
        padding-left: 150px;
    }
    .subtittle--right{
        text-align: right;
        padding-right: 150px;
    }
}

@media screen and (min-width: 1100px){
    .sobreNosotros {
        p{
            line-height: 40px;
            font-size: 30px;
            span{
                font-size: 70px;
                line-height: 80px;
            }
        }
    }
    .historia p{
        line-height: 28px;
        font-size: 18px;
        padding: 15px;
    }
    .subtittle--left{
        text-align: left;
        padding-left: 220px;
    }
    .subtittle--right{
        text-align: right;
        padding-right: 220px;
    }
    .aliados__grid--hijos{
        margin: auto;
        width: 400px;
        text-align: center;
    }
    
}


/*CONTACTO*/
form{
    text-align: center;
    div{
        margin: 10px;
    }
    .bottom{
        input{
            color: map-get($estilos, color2);
            background-color: rgb(255, 0, 0);
            padding:  10px 15px;
            border: solid 2px map-get($estilos, color);
            border-radius: 4px;
        }
        
    }
    p{
        margin-bottom: 0px;
    }
    textarea{
        width: calc(100% - 20px);
    }
}
@media screen and (min-width: 576px){
    
    form{
        .id, .numeroId{
            display: inline-block;
        }
        .nombreApellido{
            input{
                width: 300px;
            }
        }
        .email{
            input{
                width: 400px;
            }
        }
        .telefono{
            input{
                width: 380px;
            }
        }
        textarea{
            width: 450px;
        }
        .bottom{
            input{
                padding: 10px 30px;
            }
        }
    }
}
@media screen and (min-width: 840px){
    form{
        margin: 10px;
        .nombreApellido{
            input{
                width: 400px;
            }
        }
        .email{
            input{
                width: 500px;
            }
        }
        .telefono{
            input{
                width: 480px;
            }
        }
        .numeroId{
            input{
                width: 300px;
            }
        }
        textarea{
            width: 550px;
        }
        .bottom{
            input{
                padding: 10px 40px;
            }
        }
    }
}
@media screen and (min-width: 992px){
    #form{
        margin: auto;
        margin-bottom: 40px;
        border: solid 2px black;
        width: 880px;
    }
    form{
        div{
            padding: 5px;
        }
        .nombreApellido{
            input{
                width: 600px;
            }
        }
        .email{
            input{
                width: 700px;
            }
        }
        .telefono{
            input{
                width: 680px;
            }
        }
        .numeroId{
            input{
                width: 500px;
            }
        }
        textarea{
            width: 740px;
        }
        .bottom{
            input{
                padding: 15px 50px;
            }
        }
    }
}