/*este es un archivo sass donde importo las caracteristicas del index*/
/*este archivo es el que da origen a stylesIndex que es un archivo css que va a 
recopilar todo lo que escriba aca*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* PALETA COLORES*/
/*FUENTE ELEGIDA google font*/
/*INDEX*/
/*titulo 6am*/
h1 {
  color: white;
  background-color: black;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 1200;
  text-align: center;
  padding-top: 10px;
  margin: 0;
}

/*ICONOS REDES SOCIALES*/
.redesSociales, .redesSociales--catalogo, .redesSociales__pages, .redesSociales__sN {
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
}

.redesSociales i, .redesSociales--catalogo i, .redesSociales__pages i, .redesSociales__sN i {
  padding-left: 20px;
  padding-right: 20px;
}

.redesSociales i:hover, .redesSociales--catalogo i:hover, .redesSociales__pages i:hover, .redesSociales__sN i:hover {
  cursor: pointer;
}

/*navbar mobile index bs*/
.navbarMobile {
  background-color: black;
}

.navbarMobile button {
  font-size: 15px;
}

/*carrusel index bs*/
.carousel-item img {
  height: calc(100vh - 180px);
}

/*FOOTER SITIO WEB UTILIZANDO FLEXBOX*/
.footer {
  border-bottom: solid 2px white;
}

.footer h4 {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: #00C9C8;
  padding: 15px 0px 0px 20px;
  font-size: 30px;
  font-weight: 200;
}

.footer h4 span {
  font-size: 20px;
}

footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

footer div {
  padding: 15px;
}

footer p {
  color: #beb7b7;
}

footer p a {
  text-decoration: none;
  color: #beb7b7;
}

footer p a:hover {
  color: white;
}

footer .links {
  text-decoration: underline;
  color: #00C9C8;
}

footer .links a {
  color: #00C9C8;
}

.footer__left i {
  color: #f0740f;
  margin-left: 10px;
}

.footer__center {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

.footer__right span {
  color: #00C9C8;
}

/*iconos footer fontawesone*/
.fa-envelope {
  color: #e4c721;
  margin-left: 10px;
}

.fa-whatsapp {
  border-radius: 15px;
  background-color: #27df0e;
  margin-left: 10px;
}

/*epigrafe footer*/
.footer--epigrafe {
  text-align: center;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
}

.footer--epigrafe p {
  margin: 0;
}

/*MEDIA QUERIS INDEX*/
@media screen and (max-width: 576px) {
  .navDeskop {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .navbarMobile {
    display: none;
  }
  /*activo navbar deskop index*/
  .navDeskop {
    display: block;
    background-color: black;
  }
  .navbarIndex {
    margin-bottom: -15px;
  }
  .navbarIndex ul {
    padding-right: 0px;
    list-style: none;
    text-align: right;
    font-family: "Montserrat", sans-serif;
  }
  .navbarIndex ul li {
    display: inline-block;
    margin: -3px;
    border-right: solid 2px white;
    padding: 10px;
  }
  .navbarIndex ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: block;
    padding: 0px;
  }
  .navbarIndex ul li:hover {
    background-color: white;
  }
  .navbarIndex ul li a:hover {
    color: black;
  }
  .redesSociales, .redesSociales--catalogo, .redesSociales__pages, .redesSociales__sN {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .redesSociales i, .redesSociales--catalogo i, .redesSociales__pages i, .redesSociales__sN i {
    padding: 10px;
  }
  h1 {
    text-align: left;
    padding-left: 20px;
  }
  .carousel-item img {
    height: calc(100vh - 120px);
  }
  .footer h4 {
    text-align: left;
  }
  .footer__center p {
    margin: auto;
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 80px;
  }
  .navbarIndex ul li a {
    font-size: 16px;
  }
  /*FOOTER PASA A SER DESKOP*/
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__center {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-bottom: none;
    border-top: none;
  }
  .footer__left {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer__right {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 110px;
  }
  .navDeskop {
    position: absolute;
    top: 110px;
    right: 10px;
  }
}

@media screen and (min-width: 992px) {
  .navDeskop {
    position: absolute;
    top: 90px;
  }
  .navbarIndex ul li a {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .redesSociales i:hover, .redesSociales--catalogo i:hover, .redesSociales__pages i:hover, .redesSociales__sN i:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

/*CATALOGO**/
.bodyCatalogo {
  background-color: black;
}

/*animacion texto envio gratis*/
.envios, .flex__pago .pago--subtittle, .catalogo__subt {
  background-color: #00C9C8;
  padding: 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.envios p, .flex__pago .pago--subtittle p, .catalogo__subt p {
  font-weight: 1000;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  -webkit-animation: idavuelta;
          animation: idavuelta;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes idavuelta {
  50% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@keyframes idavuelta {
  50% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

/*MENU LINKS DE ANCLAJE PARA NAVEGAR ENTRE PAGINAS*/
.navPages {
  display: none;
}

/*TITULO para paginas*/
h2 {
  font-size: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
}

/*REDES SOCIALES CATALOGO Y DEMAS PAGES*/
.navCatalogo {
  background-color: black;
}

/*grid catalogo galeria*/
#grid__catalogo img {
  height: 250px;
  width: 100%;
}

.grid__catalogo--hijos {
  position: relative;
}

.grid__catalogo--hijos img:hover {
  background: #F5A9A9;
  /*animation: 1s chicle 1;*/
}

.grid__catalogo--hijos div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 5px 10px;
  background-color: black;
  color: white;
  font-size: 20px;
}

/*metodos de pago y form envio*/
.flex__pago {
  background-color: #d9d9e0;
}

.flex__pago .pago--subtittle {
  font-size: 20px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-top: 0px;
}

.flex__pago p {
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 5px;
}

.flex__pago img {
  width: 100vw;
}

.flex__pago form {
  font-family: "Montserrat", sans-serif;
}

.flex__pago form div {
  padding: 5px;
}

.flex__pago form select, .flex__pago form input {
  width: 230px;
  background-color: #d9d9e0;
  color: black;
  border: solid 2px black;
}

.flex__pago form .bottom__submit {
  border: #00C9C8;
  background-color: #00C9C8;
  color: white;
  padding: 10px;
}

.flex__pago form .bottom__submit:hover {
  background-color: #108383;
}

/*logistica*/
.catalogo__subt {
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  font-size: 20px;
  margin: 0px;
}

#grid__envios {
  background-color: #d9d9e0;
  text-align: center;
  color: black;
}

#grid__envios .envios--icon {
  width: 70px;
  height: 70px;
  background-color: #00C9C8;
  border-radius: 50px;
  text-align: center;
  margin: auto;
}

#grid__envios .envios--icon i {
  text-align: center;
  font-size: 40px;
  color: white;
  position: relative;
  top: 15px;
}

#grid__envios h4 {
  background-color: #d9d9e0;
  color: #00C9C8;
  font-size: 20px;
  border: none;
}

.envios--img img {
  width: 50%;
  margin-bottom: 30px;
}

/*MEDIA QUERIS CATALOGO*/
@media screen and (min-width: 480px) {
  #grid__catalogo img {
    height: 300px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .navPages {
    display: block;
    background-color: black;
  }
  .navPages ul {
    list-style: none;
    margin: 0px;
    padding: 5px;
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
  }
  .navPages li {
    display: inline-block;
    border-right: 2px solid white;
  }
  .navPages a {
    text-decoration: none;
    margin: 15px;
    color: white;
    font-size: 16px;
  }
  .navCatalogo {
    display: none;
  }
  h2 {
    text-align: left;
    padding-left: 20px;
  }
  .redesSociales--catalogo {
    position: absolute;
    top: 60px;
    right: 10px;
  }
  .redesSociales--catalogo i {
    padding: 10px;
  }
  #grid__catalogo img {
    height: calc(100vh - 100px);
    width: 100%;
  }
  .envios--img img {
    width: 180px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .navPages ul {
    text-align: right;
  }
  h2 {
    font-size: 70px;
  }
  .redesSociales--catalogo {
    top: 90px;
  }
  .redesSociales--catalogo i:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  #grid__catalogo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #grid__catalogo img {
    height: 300px;
    width: 100%;
  }
  .flex__pago {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
  }
  .flex__pago .flex__pago--izq {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .flex__pago .flex__pago--izq img {
    width: 100%;
    margin-left: 20px;
  }
  .flex__pago .flex__pago--izq .pago--text {
    margin-left: 20px;
  }
  .flex__pago .flex__pago--der {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 900px) {
  #grid__envios {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 992px) {
  #grid__catalogo {
    margin: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  #grid__catalogo img {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .flex__pago .flex__pago--der {
    -ms-flex-preferred-size: 900px;
        flex-basis: 900px;
  }
  .flex__pago .flex__pago--izq img {
    width: 500px;
  }
}

/*CLUB 6AM*/
.redesSociales__pages {
  position: absolute;
  top: 90px;
  right: 20px;
}

/*portada y breve descripcion*/
.clubInfo {
  background-color: black;
}

.clubInfo p {
  margin: 0;
  margin-top: -10px;
  padding: 10px;
  color: white;
  text-align: center;
  line-height: 30px;
}

/*subtitulos*/
h3 {
  padding: 20px 0px 20px 0px;
  text-align: center;
  color: white;
  background-color: #00C9C8;
}

h4 {
  font-size: 16px;
  background-color: #00C9C8;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}

h4 a {
  text-decoration: none;
  color: white;
}

/*texto unete a esta gran familia*/
.subtittle--unete:hover {
  background-color: #108383;
  cursor: pointer;
}

a:hover {
  color: white;
}

/*iconos de ongs*/
.ong {
  background-color: #d9d9e0;
  padding: 10px;
  text-align: center;
}

.ong .izq img {
  width: 300px;
}

.ong .der img {
  width: 250px;
  padding-bottom: 20px;
}

/*poryectos empresa*/
.proyectos {
  padding: 20px;
  background-color: #d9d9e0;
}

.proyectos .cardd {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 20px;
}

.proyectos .cardd .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.proyectos .cardd .font {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
  -webkit-box-shadow: 4px 4px 30px 2px rgba(0, 0, 0, 0.65);
          box-shadow: 4px 4px 30px 2px rgba(0, 0, 0, 0.65);
}

.proyectos .cardd .font img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.proyectos .cardd .back {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  background-color: #00C9C8;
  padding: 15px;
  color: white;
}

.proyectos .cardd .back h4 {
  margin-top: 40px;
  font-size: 22px;
}

.proyectos .cardd .back p {
  text-align: center;
}

.proyectos .cardd .back p a {
  text-decoration: none;
  color: white;
}

.cardd:hover .font {
  -webkit-transform: perspective(600px) rotate(180deg);
          transform: perspective(600px) rotate(180deg);
}

.cardd:hover .back {
  -webkit-transform: perspective(600px) rotate(360deg);
          transform: perspective(600px) rotate(360deg);
}

/*testimonios*/
.testimonios {
  margin-top: -10px;
  background-color: #d9d9e0;
}

.testimonios video {
  width: 100%;
  padding: 10px;
}

.testimonios p {
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.testimonios p span {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/*beneficios*/
.subtittle__beneficios {
  margin-bottom: 0px;
}

.beneficios__contenedor .row .card {
  background-color: #d9d9e0;
  color: black;
  border-radius: 0px;
  padding: 20px 10px;
}

.beneficios__contenedor .row .card a {
  display: block;
  margin: auto;
}

.beneficios__contenedor .row .card .boton {
  background-color: #00C9C8;
  border: solid 2px #00C9C8;
}

/*boton flotante*/
.flotante {
  display: none;
}

/*MEDIA QUERIS CLUB*/
@media screen and (min-width: 480px) {
  .clubInfo p {
    margin-left: 20px;
    margin-right: 20px;
  }
  .proyectos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .redesSociales__pages {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .ong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ong div {
    width: 400px;
  }
}

@media screen and (min-width: 800px) {
  .proyectos {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .proyectos div {
    margin-bottom: 20px;
  }
  .testimonios {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonios div {
    margin: 10px;
  }
}

@media screen and (min-width: 900px) {
  .clubInfo p {
    font-size: 30px;
    line-height: 50px;
  }
  .testimonios p {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .testimonios p {
    font-size: 20px;
    line-height: 35px;
  }
  .flotante {
    display: inline-block;
    background-color: #108383;
    padding: 20px;
    width: 160px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .flotante a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .flotante:hover {
    cursor: pointer;
    background-color: #105f5f;
  }
}

@media screen and (min-width: 1100px) {
  .testimonios p {
    font-size: 22px;
    line-height: 40px;
  }
  .clubInfo p {
    padding: 60px;
  }
}

/*SOBRE NOSOTROS*/
/*TITULO sn*/
h2 {
  background-color: black;
  text-align: center;
  font-size: 60px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

/*subtitulos*/
.subtittle--left {
  margin-top: -20px;
}

.redesSociales__sN {
  position: absolute;
  top: 90px;
  right: 20px;
}

/*portada*/
.sobreNosotros {
  height: 100vw;
  background-image: url(../image/futuro-min.jpg);
  background-color: #4b4949;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sobreNosotros p {
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 25px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.sobreNosotros p span {
  display: none;
}

/*historia empresa*/
.historia {
  background-color: #d9d9e0;
}

.historia img {
  width: 100%;
}

.historia p {
  color: black;
  text-align: center;
  padding: 10px;
}

.historia .historia__pasos {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*aliados*/
.aliados__grid {
  margin-top: -10px;
  padding: 10px;
  background-color: #d9d9e0;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.aliados__grid img {
  width: 100%;
}

.aliados__grid p {
  display: none;
}

/*miembros*/
.miembros__grid {
  background-color: #d9d9e0;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: -10px;
  padding-top: 20px;
}

.miembros__grid img {
  border-radius: 50%;
  border: solid 4px #00C9C8;
  width: 200px;
  height: 200px;
}

.miembros__grid p {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.miembros__grid p span {
  font-size: 22px;
  font-weight: bold;
}

/*MEDIA QUEIRIS SOBRE NOSOTROS*/
@media screen and (min-width: 400px) {
  .sobreNosotros p span {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 35px;
  }
}

@media screen and (min-width: 480px) {
  .sobreNosotros p {
    padding: 30px;
    font-size: 16px;
    line-height: 30px;
  }
}

@media screen and (min-width: 600px) {
  .sobreNosotros p {
    padding: 30px;
    font-size: 20px;
    line-height: 30px;
  }
  .sobreNosotros p span {
    font-size: 60px;
    line-height: 60px;
  }
  .historia p {
    font-size: 20px;
  }
  .aliados__grid {
    grid-gap: 30px;
  }
  .miembros__grid p {
    margin: auto;
    width: 350px;
  }
}

@media screen and (min-width: 700px) {
  .sobreNosotros p {
    font-size: 30px;
    line-height: 40px;
  }
  .aliados__grid {
    text-align: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .aliados__grid img {
    width: 200px;
  }
  .aliados__grid p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    display: block;
    padding: 10px;
  }
}

@media screen and (min-width: 800px) {
  .sobreNosotros p {
    line-height: 50px;
  }
  .sobreNosotros p span {
    line-height: 70px;
  }
  .miembros__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .miembros__grid .hijo3 {
    position: relative;
    left: 180px;
  }
}

@media screen and (min-width: 900px) {
  .miembros__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .miembros__grid .hijo3 {
    position: relative;
    left: 200px;
  }
}

@media screen and (max-width: 900px) {
  .redesSociales__sN {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .sobreNosotros {
    height: 100vh;
  }
  .sobreNosotros p {
    font-size: 20px;
    line-height: 30px;
  }
  .historia p {
    font-size: 16px;
    margin-top: 20px;
  }
  .historia img {
    margin-top: 20px;
  }
  .miembros__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .miembros__grid p {
    width: 300px;
  }
  .miembros__grid .hijo3 {
    position: relative;
    left: 0px;
  }
  .subtittle--left {
    text-align: left;
    padding-left: 150px;
  }
  .subtittle--right {
    text-align: right;
    padding-right: 150px;
  }
}

@media screen and (min-width: 1100px) {
  .sobreNosotros p {
    line-height: 40px;
    font-size: 30px;
  }
  .sobreNosotros p span {
    font-size: 70px;
    line-height: 80px;
  }
  .historia p {
    line-height: 28px;
    font-size: 18px;
    padding: 15px;
  }
  .subtittle--left {
    text-align: left;
    padding-left: 220px;
  }
  .subtittle--right {
    text-align: right;
    padding-right: 220px;
  }
  .aliados__grid--hijos {
    margin: auto;
    width: 400px;
    text-align: center;
  }
}

/*CONTACTO*/
.contacto--body {
  background-color: #d9d9e0;
}

form {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

form div {
  margin: 10px;
}

form .bottom input {
  color: white;
  background-color: #00C9C8;
  padding: 10px 15px;
  border: solid 2px #00C9C8;
  border-radius: 4px;
}

form p {
  margin-bottom: 0px;
}

form textarea {
  width: calc(100% - 20px);
}

@media screen and (min-width: 576px) {
  form .id, form .numeroId {
    display: inline-block;
  }
  form .nombreApellido input {
    width: 300px;
  }
  form .email input {
    width: 400px;
  }
  form .telefono input {
    width: 380px;
  }
  form textarea {
    width: 450px;
  }
  form .bottom input {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 840px) {
  form {
    margin: 10px;
  }
  form .nombreApellido input {
    width: 400px;
  }
  form .email input {
    width: 500px;
  }
  form .telefono input {
    width: 480px;
  }
  form .numeroId input {
    width: 300px;
  }
  form textarea {
    width: 550px;
  }
  form .bottom input {
    padding: 10px 40px;
  }
}

@media screen and (min-width: 992px) {
  #form {
    margin: auto;
    margin-bottom: 40px;
    border: solid 2px black;
    width: 880px;
  }
  form div {
    padding: 5px;
  }
  form .nombreApellido input {
    width: 600px;
  }
  form .email input {
    width: 700px;
  }
  form .telefono input {
    width: 680px;
  }
  form .numeroId input {
    width: 500px;
  }
  form textarea {
    width: 740px;
  }
  form .bottom input {
    padding: 15px 50px;
  }
}
/*# sourceMappingURL=styles.css.map */