/*este es un archivo sass donde importo las caracteristicas del index*/
/*este archivo es el que da origen a stylesIndex que es un archivo css que va a 
recopilar todo lo que escriba aca*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*INDEX*/
h1 {
  color: white;
  background-color: black;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 1200;
  text-align: center;
  padding-top: 10px;
  margin: 0;
}

/*ICONOS REDES SOCIALES*/
.redesSociales, .redesSociales--catalogo, .redesSociales__pages, .redesSociales__sN {
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
}

.redesSociales i, .redesSociales--catalogo i, .redesSociales__pages i, .redesSociales__sN i {
  padding-left: 20px;
  padding-right: 20px;
}

.redesSociales i:hover, .redesSociales--catalogo i:hover, .redesSociales__pages i:hover, .redesSociales__sN i:hover {
  cursor: pointer;
}

/*NAVBAR MOBILE INDEX*/
.navbarMobile {
  background-color: black;
}

.navbarMobile button {
  font-size: 15px;
}

/*CARRUSEL INDEX*/
.carousel-item img {
  height: calc(100vh - 180px);
}

/*TITULOS PARA DESTACAR*/
h4 {
  font-size: 16px;
  background-color: #f30606;
  text-align: center;
  padding: 10px;
  color: white;
  margin: 0;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}

/*FOOTER SITIO WEB UTILIZANDO FLEXBOX*/
.footer {
  border-bottom: solid 2px white;
}

.footer h4 {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: #00C9C8;
  padding: 15px 0px 0px 20px;
  font-size: 30px;
  font-weight: 200;
}

.footer h4 span {
  font-size: 20px;
}

footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

footer div {
  padding: 15px;
}

footer p {
  color: #beb7b7;
}

footer p a {
  text-decoration: none;
  color: #beb7b7;
}

footer p a:hover {
  color: white;
}

footer .links {
  text-decoration: underline;
  color: #00C9C8;
}

footer .links a {
  color: #00C9C8;
}

.footer__left i {
  color: #f0740f;
  margin-left: 10px;
}

.footer__center {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

.footer__right span {
  color: #00C9C8;
}

.fa-envelope {
  color: #e4c721;
  margin-left: 10px;
}

.fa-whatsapp {
  border-radius: 15px;
  background-color: #27df0e;
  margin-left: 10px;
}

.footer--epigrafe {
  text-align: center;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
}

.footer--epigrafe p {
  margin: 0;
}

/*MEDIA QUERIS INDEX*/
@media screen and (max-width: 576px) {
  .navDeskop {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .navbarMobile {
    display: none;
  }
  /*NAVBAR DESKOP INDEX*/
  .navDeskop {
    display: block;
    background-color: black;
  }
  .navbarIndex {
    margin-bottom: -15px;
  }
  .navbarIndex ul {
    padding-right: 0px;
    list-style: none;
    text-align: right;
    font-family: "Montserrat", sans-serif;
  }
  .navbarIndex ul li {
    display: inline-block;
    margin: -3px;
    border-right: solid 2px white;
    padding: 10px;
  }
  .navbarIndex ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: block;
    padding: 0px;
  }
  .navbarIndex ul li:hover {
    background-color: white;
  }
  .navbarIndex ul li a:hover {
    color: black;
  }
  .redesSociales, .redesSociales--catalogo, .redesSociales__pages, .redesSociales__sN {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .redesSociales i, .redesSociales--catalogo i, .redesSociales__pages i, .redesSociales__sN i {
    padding: 10px;
  }
  h1 {
    text-align: left;
    padding-left: 20px;
  }
  .carousel-item img {
    height: calc(100vh - 120px);
  }
  .footer h4 {
    text-align: left;
  }
  .footer__center p {
    margin: auto;
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 80px;
  }
  .navbarIndex ul li a {
    font-size: 16px;
  }
  /*FOOTER PASA A SER DESKOP*/
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__center {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-bottom: none;
    border-top: none;
  }
  .footer__left {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer__right {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 110px;
  }
  .navDeskop {
    position: absolute;
    top: 110px;
    right: 10px;
  }
}

@media screen and (min-width: 992px) {
  .navDeskop {
    position: absolute;
    top: 90px;
  }
  .navbarIndex ul li a {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .redesSociales i:hover, .redesSociales--catalogo i:hover, .redesSociales__pages i:hover, .redesSociales__sN i:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

/*CATALOGO**/
.bodyCatalogo {
  background-color: black;
}

/*ANIMACION TEXTO ENVIO*/
.envios {
  background-color: #f30606;
  padding: 0px;
  text-align: center;
}

.envios p {
  font-weight: 1000;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  -webkit-animation: idavuelta;
          animation: idavuelta;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes idavuelta {
  50% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@keyframes idavuelta {
  50% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

.navPages {
  display: none;
}

h2 {
  font-size: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
}

/*REDES SOCIALES CATALOGO Y DEMAS PAGES*/
.navCatalogo {
  background-color: black;
}

/*GRID CATALOGO IMAGENES*/
#grid__catalogo img {
  height: 250px;
  width: 100%;
}

.grid__catalogo--hijos {
  position: relative;
}

.grid__catalogo--hijos img:hover {
  background: #F5A9A9;
  -webkit-animation: 1s chicle 1;
          animation: 1s chicle 1;
}

.grid__catalogo--hijos div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 5px 10px;
  background-color: black;
  color: white;
  font-size: 20px;
}

@-webkit-keyframes chicle {
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
  }
  50% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
  }
}

@keyframes chicle {
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
  }
  50% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
  }
}

/*MEDIA QUEIRS CATALOGO*/
@media screen and (min-width: 480px) {
  #grid__catalogo img {
    height: 300px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .navPages {
    display: block;
    background-color: black;
  }
  .navPages ul {
    list-style: none;
    margin: 0px;
    padding: 5px;
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
  }
  .navPages li {
    display: inline-block;
    border-right: 2px solid white;
  }
  .navPages a {
    text-decoration: none;
    margin: 15px;
    color: white;
    font-size: 16px;
  }
  .navCatalogo {
    display: none;
  }
  h2 {
    text-align: left;
    padding-left: 20px;
  }
  .redesSociales--catalogo {
    position: absolute;
    top: 60px;
    right: 10px;
  }
  .redesSociales--catalogo i {
    padding: 10px;
  }
  #grid__catalogo img {
    height: calc(100vh - 100px);
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .navPages ul {
    text-align: right;
  }
  h2 {
    font-size: 70px;
  }
  .redesSociales--catalogo {
    top: 90px;
  }
  .redesSociales--catalogo i:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  #grid__catalogo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (300px)[3];
        grid-template-rows: repeat(3, 300px);
  }
  #grid__catalogo img {
    height: calc(100vh - 180px);
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  #grid__catalogo {
    margin: 20px;
    margin-top: 0;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (150px)[3];
        grid-template-rows: repeat(3, 150px);
  }
  #grid__catalogo img {
    height: 100%;
  }
  .hotsale {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .pijama {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .accesorios {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .colchones {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
  }
}

/*CLUB 6AM*/
.card {
  color: white;
  border-radius: 0px;
  padding: 10px;
}

.card a {
  display: block;
  margin: auto;
}

.subtittle__beneficios {
  margin-bottom: 0px;
}

.clubInfo p {
  color: white;
  text-align: center;
  line-height: 30px;
}

.redesSociales__pages {
  position: absolute;
  top: 90px;
  right: 20px;
}

h3 {
  padding: 20px 0px 20px 0px;
  text-align: center;
  color: white;
  background-color: black;
}

.portadaClub {
  width: 100vw;
  height: calc(100vh - 130px);
  background-image: url(../image/comunidad.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.boton--1 {
  background-color: #2473db;
  border: solid 4px #2473db;
}

.boton--2 {
  background-color: #1a626b;
  border: solid 4px #1a626b;
}

.boton--3 {
  background-color: #1c568d;
  border: solid 4px #1c568d;
}

.boton--4 {
  background-color: #2d2e7a;
  border: solid 4px #2d2e7a;
}

.testimonios_contenedor {
  margin-bottom: 30px;
}

.testimonios_contenedor video {
  width: 100%;
}

/*MEDIA QUERIS CLUB*/
@media screen and (min-width: 480px) {
  .clubInfo p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .redesSociales__pages {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .clubInfo p {
    font-size: 30px;
    line-height: 50px;
  }
}

/*SOBRE NOSOTROS*/
h2 {
  background-color: black;
  text-align: center;
  font-size: 60px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.redesSociales__sN {
  position: absolute;
  top: 90px;
  right: 20px;
}

.sobreNosotros {
  height: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 243, 243, 0.3)), to(rgba(247, 243, 243, 0.3))), url(../image/pexels-ketut-subiyanto-4545160.jpg);
  background-image: linear-gradient(rgba(247, 243, 243, 0.3), rgba(247, 243, 243, 0.3)), url(../image/pexels-ketut-subiyanto-4545160.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sobreNosotros p {
  color: black;
  text-align: center;
  line-height: 25px;
  padding: 10px;
}

.historia img {
  width: 100%;
}

.historia p {
  color: black;
  text-align: center;
}

.historia .historia__pasos {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*MEDIA QUEIRIS SOBRE NOSOTROS*/
@media screen and (min-width: 480px) {
  .sobreNosotros p {
    padding: 30px;
    font-size: 20px;
    line-height: 35px;
  }
}

@media screen and (min-width: 600px) {
  .sobreNosotros p {
    padding: 30px;
    font-size: 30px;
    line-height: 40px;
  }
  .historia p {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .redesSociales__sN {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .sobreNosotros {
    height: calc(100vh - 5px);
  }
  .sobreNosotros p {
    line-height: 60px;
  }
  .historia p {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1300px) {
  .sobreNosotros p {
    line-height: 80px;
    font-size: 40px;
  }
  .historia p {
    line-height: 40px;
    font-size: 25px;
    padding: 15px;
  }
}

/*CONTACTO*/
form {
  text-align: center;
}

form div {
  margin: 10px;
}

form .bottom input {
  color: white;
  background-color: red;
  padding: 10px 15px;
  border: solid 2px black;
  border-radius: 4px;
}

form p {
  margin-bottom: 0px;
}

form textarea {
  width: calc(100% - 20px);
}

@media screen and (min-width: 576px) {
  form .id, form .numeroId {
    display: inline-block;
  }
  form .nombreApellido input {
    width: 300px;
  }
  form .email input {
    width: 400px;
  }
  form .telefono input {
    width: 380px;
  }
  form textarea {
    width: 450px;
  }
  form .bottom input {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 840px) {
  form {
    margin: 10px;
  }
  form .nombreApellido input {
    width: 400px;
  }
  form .email input {
    width: 500px;
  }
  form .telefono input {
    width: 480px;
  }
  form .numeroId input {
    width: 300px;
  }
  form textarea {
    width: 550px;
  }
  form .bottom input {
    padding: 10px 40px;
  }
}

@media screen and (min-width: 992px) {
  #form {
    margin: auto;
    margin-bottom: 40px;
    border: solid 2px black;
    width: 880px;
  }
  form div {
    padding: 5px;
  }
  form .nombreApellido input {
    width: 600px;
  }
  form .email input {
    width: 700px;
  }
  form .telefono input {
    width: 680px;
  }
  form .numeroId input {
    width: 500px;
  }
  form textarea {
    width: 740px;
  }
  form .bottom input {
    padding: 15px 50px;
  }
}
/*# sourceMappingURL=styles.css.map */